#!/usr/bin/make -f

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)
PKG_TYPE    := $(shell jq -r '.type' composer.json)

%:
	dh $@

override_dh_auto_build:

override_dh_auto_test:
	appstreamcli validate --pedantic --no-net \
	    debian/php-fzaninotto-faker.metainfo.xml

override_dh_install:
	dh_install
	install -m 644 debian/autoload.php \
	    debian/php-fzaninotto-faker/usr/share/php/Faker/autoload.php
	sed -i "s|'unknown'|'$(PKG_SOURCE)'|" \
	    debian/php-fzaninotto-faker/usr/share/php/Faker/autoload.php
	sed -i "s|'0.0.0'|'$(PKG_VERSION)'|" \
	    debian/php-fzaninotto-faker/usr/share/php/Faker/autoload.php
	sed -i "s|'library'|'$(PKG_TYPE)'|g" \
	    debian/php-fzaninotto-faker/usr/share/php/Faker/autoload.php
